<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>Tentang | Stunting App</title>
  <link rel="stylesheet" type="text/css" href="/static/css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/a81368914c.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/static/css/stylelanding.css">
    <link rel="stylesheet" href="/static/css/responsive.css">
</head>

<body id="top">
	<div class="header">
        <div class="navbar">
            <div class="logo">
                <a href="#">Stunting APP</a>
            </div>
            <ul class="menu-items">
                <li><a href="{{ url_for('Home') }}">Home</a></li>
                <!-- <li class="explore-btn"><a href="#">Login</a></li> -->
            </ul>
        </div>
    </div>
    <section>
        <div class="container px-5">
            <div class="row gx-5 align-items-center">
                <div class="col-lg-12">
                    <div class="p-5">
                        <h2 align="center" class="display-4"><b>TEAM SMATECH</b></h2>
                        <p align="center">SMART TECHNOLOGY</p>
                    </div>
                </div>
                <div class="col-lg-3 order-lg-1">
                    <div class="p-5"><img class="img-fluid rounded-circle" src="/static/img/ipan.jpeg" alt="..." /></div>
                    <div class="p-6">
                        <h2 align="center" class="display-4" style="font-size: 1vw;"><b>IRFAN TRIADI SAPUTRA</b></h2>
                        <p align="center">NIM 20090017</p>
                        <p align="center"><b>Moto Hidup :</b> Kengen jadi akak kamu</p>
                    </div>
                </div>
                <div class="col-lg-3 order-lg-1">
                    <div class="p-5"><img class="img-fluid rounded-circle" src="/static/img/leli.jpeg" alt="..." /></div>
                    <div class="p-6">
                        <h2 align="center" class="display-4" style="font-size: 1vw;"><b>LAELI NURAFIAH</b></h2>
                        <p align="center">NIM 20090104</p>
                        <p align="center"><b>Moto Hidup :</b> Stay positive attitude is everything</p>
                    </div>
                </div>
                <div class="col-lg-3 order-lg-1">
                    <div class="p-5"><img class="img-fluid rounded-circle" src="/static/img/awi.jpeg" alt="..." /></div>
                    <div class="p-6">
                        <h2 align="center" class="display-4" style="font-size: 1vw;"><b>MOKHAMAD AKBAR WIJAYA</b></h2>
                        <p align="center">NIM 20090037</p>
                        <p align="center"><b>Moto Hidup :</b> Hiduplah Seperti Lery, senggol bacok</p>
                    </div>
                </div>
                <div class="col-lg-3 order-lg-1">
                    <div class="p-5"><img class="img-fluid rounded-circle" src="/static/img/koko.jpeg" alt="..." /></div>
                    <div class="p-6">
                        <h2 align="center" class="display-4" style="font-size: 1vw;"><b>KOANDRES</b></h2>
                        <p align="center">NIM 20090123</p>
                        <p align="center"><b>Moto Hidup :</b> Ora Cina ya Ora Cinta</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
	<footer>
        <p>Created By Stunting APP | &copy;
            2022 All rights reserved.</span>
    </footer>

    <script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html>