<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>Tentang | House Stunting APP</title>
  <link rel="stylesheet" type="text/css" href="/static/css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/a81368914c.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/static/css/stylelanding.css">
    <link rel="stylesheet" href="/static/css/responsive.css">
</head>

<body id="top">
	<div class="header">
        <div class="navbar">
            <div class="logo">
                <a href="#">House Stunting APP</a>
            </div>
            <ul class="menu-items">
                <li><a href="{{ url_for('Home') }}">Home</a></li>
                <!-- <li class="explore-btn"><a href="#">Login</a></li> -->
            </ul>
        </div>
    </div>
    <section>
        <div class="container px-5">
            <div class="row gx-5 align-items-center">
                <div class="col-lg-12">
                    <div class="p-5">
                        <h2 align="center" class="display-4"><b>Wira Wiri TEAM</b></h2>
                        <p align="center">بِسْمِ اللَّهِ الرَّحْمَنِ الرَّحِيم</p>
                    </div>
                </div>
                <div class="col-lg-3 order-lg-1">
                    <div class="p-5"><img class="img-fluid rounded-circle" src="/static/img/amal.jpeg" alt="..." /></div>
                    <div class="p-6">
                        <h2 align="center" class="display-4" style="font-size: 1vw;"><b>IKHLASHUL AMAL</b></h2>
                        <p align="center">NIM 21090106</p>
                        <p align="center"><b>Kata Motivasion :</b> Tetap Tenang Besti</p>
                    </div>
                </div>
                <div class="col-lg-3 order-lg-1">
                    <div class="p-5"><img class="img-fluid rounded-circle" src="/static/img/khaerul.jpeg" alt="..." /></div>
                    <div class="p-6">
                        <h2 align="center" class="display-4" style="font-size: 1vw;"><b>Akhidati Kherul syuhada</b></h2>
                        <p align="center">NIM 21090086</p>
                        <p align="center"><b>Kata Motivasion :</b> Tetap Santai Besti</p>
                    </div>
                </div>
                <div class="col-lg-3 order-lg-1">
                    <div class="p-5"><img class="img-fluid rounded-circle" src="/static/img/faqih.jpeg" alt="..." /></div>
                    <div class="p-6">
                        <h2 align="center" class="display-4" style="font-size: 1vw;"><b>MOKHAMAD FAQIH MAULANA</b></h2>
                        <p align="center">NIM 21090046</p>
                        <p align="center"><b>Kata Motivasion :</b> Tetap Ngopi Besti</p>
                    </div>
                </div>
                <div class="col-lg-3 order-lg-1">
                    <div class="p-5"><img class="img-fluid rounded-circle" src="/static/img/dimas.jpeg" alt="..." /></div>
                    <div class="p-6">
                        <h2 align="center" class="display-4" style="font-size: 1vw;"><b>DIMAS</b></h2>
                        <p align="center">NIM 21090028</p>
                        <p align="center"><b>Kata Motivasion :</b> Tetap Makan Besti</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
	<footer>
        <p>Created By House Stunting APP | &copy;
            2023 All rights reserved.</span>
    </footer>

    <script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html>